body{
    font-family: 'Kanit', sans-serif;
}
img{
    width: 500px;
    height: 500px;
}
.frostbyte:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 15px;
}
.frostbyte{
    width: 500px;
    height: 550px;
    margin-left: 50px;
    margin-top: 50px;
}
h1{
    margin-left: 75px;
    margin-top: -25px;
}
.main{
    display: flex;
    flex-direction: row;
    background-color: #DAE0F2;
    width: 100%;
    height: 100vh;
}
.frostbyte_info{
    display: flex;
    flex-direction: column;
}
.info_h{
    margin-left: 100px;
    margin-top: 150px;
}
p{
    display: flex;
    flex-direction: column;
}
.button{
    width: 500px;
    height: 70px;
    margin-top: 50px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #0A0A0A;
    font-size: 150%;
    color: #d7d9de;
    font-family: 'Kanit', sans-serif;
    color: #d7d9de;
}
a{
    color: #d7d9de;
}